.padding {
    padding-top: 57px;
}

.search-bar {
    width: 100%;
}

.btn-edit {
    height: 37px;
}

.card-edit {
    width: 255px;
    margin: 15px;
}

.card {
    height: 468px !important;
}


/* 076443 */